@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before{
  box-sizing: border-box;
}

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}

.inputStyles{
 position: relative;   
 overflow: hidden;
 margin-bottom: 10px;

 transition: 150ms ease-in-out;
}
.inputStyles::before{
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  background-color: rgb(153, 153, 243);

  transition: 150ms ease-in-out;
  transform: translateY(-100%);
}
.inputStyles:focus-within::before{
  transform: translateY(0);
}
@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 20vh);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 9.5vh);
    
  }
}